---
import Layout from "../layouts/BaseLayout.astro";

let title = "Thanks!";
let description = "Thanks for contacting me, I'll be in touch shortly.";
let permalink = "https://stefenphelps.com/success";
---

<Layout {title} {description} {permalink}>
  <article class="wrapper">
    <h1>{title}</h1>
    <p>{description}</p>
  </article>
</Layout>
