---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Component Script:
let title =  'Thanks!';
let description = "Thanks for contacting me, I'll be in tough shortly.";
let permalink = "https://stefenphelps.com/success"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>
	<body>
		<Header />
		<main>
			<article>
				<h1>{title}</h1>
				<p>{description}</p>
			</article>
		</main>
		<Footer />
	</body>
</html>
