---
import { Picture } from 'astro-imagetools/components';
const { post, author } = Astro.props;
const { frontmatter } = post;
let date = new Date(post.publishDate);
let dateLabel = date.toLocaleDateString('en-US');
---

<article class='post-preview'>
	{frontmatter.heroImage && (
		<div class="post-preview-image">
			<Picture src={frontmatter.heroImage} alt={frontmatter.title} />
		</div>
	)}
	<div class='post-preview-text'>
		<h2 class='h4'>
			<a href={post.url}>{frontmatter.title}</a>
		</h2>
		<p>{frontmatter.description} …</p>
	</div>
</article>

<style lang='scss'>
	.post-preview {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		margin-top: 3rem;
		padding-top: 3rem;
		border-top: 1px solid var(--border);
		&-image {
			flex: 1 1 200px;
			img {
				position: sticky;
				top: 1rem;
			}
		}
		&-text {
			flex: 1 1 300px;
		}
		h2 {
			margin-top: 0;
		}
		p {
			margin-bottom: 0;
		}
	}
</style>
