---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="post-preview">
  <header>
    <p class="publish-date">{post.publishDate}</p>
    <a href={post.url}><h1 class="title">{post.title}</h1></a>
  </header>
  <main>
    <p>{post.description}</p>
    <a href={post.url}>Read more</a>
  </main>
</article>
