---
import { Image } from "astro:assets";
import { format } from 'timeago.js';

const { post } = Astro.props;
const timeAgoLabel = format(post.data.publishDate);
---

<article class='post-preview'>
	{
		post.data.heroImage && (
			<div class='post-preview-image' transition:name=`heroimage-${post.slug}`>
				{post.data.heroImage && <Image src={post.data.heroImage} alt={post.data.title} densities={[1, 1.5, 2]}/> }
			</div>
		)
	}
	<div class='post-preview-text'>
		<h2 class='h5' transition:name=`heading-${post.slug}`>
			<a data-astro-prefetch href=`/blog/${post.slug}/`>{post.data.title}</a>
		</h2>
		<time datetime={post.data.publishDate} transition:name=`date-${post.slug}`>
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' width='0.875em' height='1em'>
				<path
					class='fa-primary'
					d='M160 64H288V32C288 14.33 302.3 0 320 0C337.7 0 352 14.33 352 32V64H400C426.5 64 448 85.49 448 112V192H0V112C0 85.49 21.49 64 48 64H96V32C96 14.33 110.3 0 128 0C145.7 0 160 14.33 160 32V64z'></path>
				<path
					class='fa-secondary'
					d='M0 192H448V464C448 490.5 426.5 512 400 512H48C21.49 512 0 490.5 0 464V192z'></path>
			</svg>
			{timeAgoLabel}
		</time>
		<p>{post.data.description}</p>
	</div>
</article>

<style lang='scss' is:global>
	.post-preview {
		display: flex;
		flex-wrap: wrap;
		gap: 0 2rem;
		background: var(--accent-bg);
		border: 1px solid var(--border);
		border-radius: 1rem;
		overflow: hidden;
		position: relative;
		z-index: 1;
		margin-top: 3rem;
		box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.1);
		&-image {
			flex: 1 1 200px;
			background: white;
			img {
				height: 100% !important;
				object-fit: cover;
			}
		}
		&-text {
			flex: 1 1 300px;
			align-self: center;
			padding: 2rem 2rem;
		}
		h2 {
			margin: 0;
		}
		time {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			margin: 0.5rem 0;
			font-size: var(--size-0);
			opacity: 0.7;
		}
		p {
			margin: 0;
		}
	}
</style>
