---
import Layout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';
import BlogPost from '../components/BlogPost.astro';

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } =
	content;
---

<Layout {title} {description} {permalink}>
	<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
		<slot></slot>
	</BlogPost>
	<p style='margin-top: 3rem; text-align: center;'>
		<a href='/blog/'>Read more posts</a>
	</p>
</Layout>
