---
import Layout from '../Base.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Picture } from 'astro-imagetools/components';

const { content } = Astro.props;

const {
  title,
  description,
  publishDate,
  author,
  heroImage,
  permalink = Astro.url,
  alt,
} = content;

const date = new Date(publishDate);
const dateLabel = date.toLocaleDateString('en-US');

// for recent posts at bottom
const allPosts = await Astro.glob('../pages/blog/*.md');
const filteredPosts = allPosts.filter(
  (data) => data.frontmatter.title != title
);

const sortedPosts = filteredPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<Layout
  title={title}
  description={description}
  permalink={permalink}
  heroImage={heroImage}
>
  <Header activeNav="blog" />
  <main>
    <article class="article">
      <div class="wrapper wrapper--wide" style="text-align: center;">
        {heroImage && <Picture src={heroImage} alt={title} loading="eager" />}
      </div>
      <div class="wrapper">
        <h1>{title}</h1>
        <time>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            width="0.875em"
            height="1em"
          >
            <path
              class="fa-primary"
              d="M160 64H288V32C288 14.33 302.3 0 320 0C337.7 0 352 14.33 352 32V64H400C426.5 64 448 85.49 448 112V192H0V112C0 85.49 21.49 64 48 64H96V32C96 14.33 110.3 0 128 0C145.7 0 160 14.33 160 32V64z"
            ></path>
            <path
              class="fa-secondary"
              d="M0 192H448V464C448 490.5 426.5 512 400 512H48C21.49 512 0 490.5 0 464V192z"
            ></path>
          </svg> Published on {dateLabel}
        </time>
        <hr />
        <slot />
      </div>
    </article>
    <section class="recent-posts">
      <h2 class="h3">Other Recent Posts</h2>
      <hr />
      <ul class="recent-posts-grid">
        {
          sortedPosts.slice(0, 9).map((post) => (
            <li class="recent-posts-grid-item">
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  .article {
    h1 {
      margin: 2rem 0 1rem;
    }
    time {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: var(--size-0);
    }
  }
  .recent-posts {
    width: 90%;
    margin: auto;
    h2 {
      margin: 5rem 0 0rem;
      flex: 1 1 100%;
    }
    &-grid {
      @media (min-width: 900px) {
        column-count: 2;
        column-gap: 3rem;
      }
      &-item {
        break-inside: avoid;
      }
    }
  }
</style>
